include /mixins/meta

doctype html

block variables
  -const header = undefined;
  -const page = undefined;

html(page=page)
  head
    block meta
      +meta()

    block stylesheets
      link(rel='stylesheet' href=assetPath('/assets/main.css'))

    block head
      include /partials/amplitude.pug
  body
    block header
      include /partials/header.pug

    main
      block content

    block footer
      include /partials/footer.pug

    block javascripts
      script(src=assetPath('/assets/main.js'))
