extends /layouts/main.pug

block header-name
  | Что посмотреть в Ужуписе и рядом?

append stylesheets
  link(rel='stylesheet', href='/2019-01-21-uzupio.css')

append javascripts
  script(src='/2019-01-21-uzupio.js')

block content
  .app