@import 'base/variables';

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1400;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  padding: 12px;
  background: $light-background;
  box-shadow: 0 0 15px 5px rgba($grey, 0.3);
  text-align: center;
  font-size: 0.8em;

  .likely {
    margin-left: 5px;

    & > div {
      margin-left: 10px !important;
      margin-right: 10px !important;
    }
  }
}
