@import 'base/variables';

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  padding: 12px;
  background: $light-background;
  box-shadow: 0 0 15px 5px rgba($dark-grey, 0.2);
  text-align: center;
  font-size: 0.8em;

  .made-by {
    margin-right: 20px;

    a {
      text-decoration: none;
      color: $link-color;
      border-bottom: 1px solid rgba($link-color, 0.4);
      margin-left: 6px;

      &:hover {
        border-bottom: 1px solid rgba($link-color, 0.8);
      }
    }
  }

  .likely {
    margin-left: 5px;
  }
}
