@import 'base/variables';
@import 'base/mixins';

$control-size: 30px;
$subscribe-size: 60px;
$subscribe-animation: rotating 10s linear infinite;

@keyframes rotating {
  from {
    @include rotate(-50);
  }
  to {
    @include rotate(310);
  }
}

.map-viewer {
  position: relative;

  .map-viewer-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .map-viewer-subscribe,
    .map-viewer-controls-prev,
    .map-viewer-controls-next {
      opacity: 0.7;
      z-index: $map-z-index;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    .map-viewer-subscribe {
      position: absolute;
      bottom: 20px;
      right: 20px;

      .map-viewer-subscribe-letters {
        position: absolute;
        top: -27px;
        left: -27px;
        bottom: -27px;
        right: -27px;
        animation: $subscribe-animation;

        text {
          font-family: $title-font;
          font-size: 11px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 2px;
          fill: $dark-blue;
        }
      }

      .map-viewer-subscribe-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $subscribe-size;
        height: $subscribe-size;
        background: $dark-blue;
        border-radius: 50%;

        img {
          width: 50%;
          height: 50%;
          margin-right: 5px;
        }
      }
    }

    .map-viewer-controls-prev,
    .map-viewer-controls-next {
      @include hitbox(10px);

      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      width: $control-size;
      height: $control-size * 2;
      background: $dark-blue;
      color: $white;
      font-family: $icon-font;
      font-size: 1.3em;
      transform: translateY(-50%);
    }

    .map-viewer-controls-prev {
      left: 0;
      padding-right: $control-size * 0.3;
      border-bottom-right-radius: $control-size * 2;
      border-top-right-radius: $control-size * 2;
    }

    .map-viewer-controls-next {
      right: 0;
      padding-left: $control-size * 0.3;
      border-bottom-left-radius: $control-size * 2;
      border-top-left-radius: $control-size * 2;
    }
  }
}
