@import 'base/variables';

$control-size: 30px;

.map-viewer {
  position: relative;

  .map-viewer-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .map-viewer-controls-prev,
    .map-viewer-controls-next {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      width: $control-size;
      height: $control-size * 2;
      background: $dark-blue;
      color: $white;
      font-family: $icon-font;
      font-size: 1.3em;
      transform: translateY(-50%);
      opacity: 0.7;
      cursor: pointer;
      z-index: $map-z-index;
    }

    .map-viewer-controls-prev {
      left: 0;
      padding-right: $control-size * 0.3;
      border-bottom-right-radius: $control-size * 2;
      border-top-right-radius: $control-size * 2;
    }

    .map-viewer-controls-next {
      right: 0;
      padding-left: $control-size * 0.3;
      border-bottom-left-radius: $control-size * 2;
      border-top-left-radius: $control-size * 2;
    }
  }
}
