@import 'base/variables';
@import 'base/mixins';

$marker-size: 64px;
$marker-margin: 10px;

.map {
  width: 100%;
  height: 100%;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  .markerIcon {
    position: relative;
    width: $marker-size !important;
    height: $marker-size !important;
    margin-left: -$marker-size / 2 !important;
    margin-top: -$marker-size - $marker-margin !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $marker-size / 2;
    border: 3px solid $accent;
    background-color: rgba($light-background, 0.8);
    outline: none;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 0;
      height: 0;
      margin-bottom: -30px;
      border-style: solid;
      border-width: 30px 5px 0 5px;
      border-color: $accent transparent transparent transparent;
    }

    & > img {
      width: 38px;
      height: 38px;
    }
  }
}

.info-card-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: $map-z-index + 100;
  pointer-events: none;

  .info-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $dark-grey;
    opacity: 0.4;
  }

  .info-card {
    position: absolute;
    top: 0;
    width: 90%;
    height: 90%;
    max-width: 480px;
    background: $background;
    border-radius: 4px;

    @media (max-width: $md-max) {
      @include absolute-center();
    }

    @media (min-width: $md) {
      @include absolute-center(false, true);

      right: 3%;
      width: 35%;
      min-width: 480px;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-family: $icon-font;
      font-size: 0.9em;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    .content {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 16px 24px;

      .title {
        margin: 0;
        padding: 0 30px 10px 0;
        font-size: 1.6em;
        font-weight: bold;
        font-family: $title-font;
      }

      .description {
        position: relative;
        height: calc(67% - 40px);
        overflow: hidden;

        .description-content {
          font-size: 1.15em;
          line-height: 1.5em;
          height: 100%;
          overflow: auto;
          padding: 12px 12px 12px 0;

          & > p {
            margin-top: 8px;
            margin-bottom: 0;
          }
        }
      }

      .photos {
        height: 33%;
        padding-top: 14px;

        display: flex;
        overflow: auto;

        img {
          cursor: pointer;
          padding: 0 3px;
          object-fit: contain;
        }
      }
    }
  }

  &.visible {
    opacity: 1;
    transition: all 200ms ease-in;
    pointer-events: all;
  }
}
