extends /layouts/main.pug
include /mixins/a

block header

block content
  .not-found
    .not-found-info
      .not-found-text
        | 404
      +a(href="/" class="main-link")
        | Вернуться на главную
    svg(viewBox="0 0 680 180")
      path(id="motionPath" class="motion-path" d="M98.756257,60.2932945 C64.8510637,54.8139635 44.1738298,69.8901242 40.3270013,90.2155187 C36.5510353,110.645146 66.3310199,128.660841 85.5625541,126.120827 C135.510144,119.523975 205.164842,22.6085402 248.795976,16.8757366 C314.596991,-2.0946317 435.732121,79.0004594 478.546419,79.0004594 C505.264009,79.0004594 571.066394,54.7939313 586.923265,54.7939313 C608.598634,54.7939313 620.461827,64.4165383 633.101225,79.0004594 C645.740623,93.5843805 640.640484,114.234558 620.849929,119.523975 C601.059375,124.813393 585.03845,119.577197 567.13271,108.268309 C552.294701,98.8969345 543.572527,79.0004594 533.668568,60.2932945 C507.665929,11.1780212 467.835959,9.4285174 426.714015,34.7073139 C385.592071,59.9861104 325.604627,108.268309 274.074773,108.268309 C250.740499,108.268309 198.233479,92.7287668 211.845139,68.405591 C224.292969,46.1621048 260,46.1621048 286,54.7939313 C324.240747,67.4896043 427.392774,158.813935 451.216606,165.701936 C473,172 505.697108,161.467564 511.530677,145.911381 C519.51392,124.622731 479.412187,101.618236 451.216606,101.618236 C378.847809,101.618236 271.732863,162.408165 226.433964,152.020072 C142.422097,132.754192 132.785406,65.7926577 98.756257,60.2932945 Z")

      g(id="plane" transform="scale(0.075) rotate(-133 100 100)")
        path(class="plane" d="M 439.48098,95.969555 L 393.34268,142.46481 L 305.91233,133.41187 L 324.72376,114.58551 L 308.61525,98.464215 L 276.15845,130.94677 L 185.25346,123.08136 L 201.15145,107.27643 L 186.46085,92.574165 L 158.32,120.73735 L 45.386032,112.12042 L 15.000017,131.66667 L 221.20641,192.48691 L 298.26133,237.01135 L 191.91028,345.62828 L 152.82697,408.6082 L 41.549634,393.05411 L 21.037984,413.58203 L 109.25334,470.93369 L 166.38515,558.95725 L 186.8968,538.42933 L 171.35503,427.06371 L 234.28504,387.94939 L 342.81586,281.51396 L 387.305,358.63003 L 448.07703,565.00001 L 467.60778,534.58989 L 458.99769,421.56633 L 487.16033,393.38134 L 473.14247,379.35235 L 456.6139,395.97492 L 448.79636,303.63439 L 481.25315,271.15184 L 465.14464,255.03055 L 446.33321,273.8569 L 436.04766,185.1164 L 482.35108,138.7864 C 501.1942,119.92833 560.62425,61.834815 564.99998,14.999985 C 515.28999,23.707295 476.1521,61.495405 439.48098,95.969555 z")

      animateMotion(xlink:href="#plane" dur="8s" fill="freeze" repeatcount="indefinite" rotate="auto-reverse")
        mpath(xlink:href="#motionPath")

block footer