@import '../base/variables';

.landing {
  position: fixed;
  z-index: 1000;
  top: $header-height;
  left: 0;
  width: 100vw;
  height: calc(100vh - #{$header-height} - #{$footer-height});

  background: $light-gradient;

  .header {
    width: 100%;
    padding: 36px 20px;
    text-align: center;
    line-height: 2.4em;
    color: $text-color;

    .title { font-size: 1.6em; }
    .subtitle { font-size: 1.4em; }
  }
}
