@import '../base/variables';

.landing {
  position: fixed;
  z-index: 1000;
  top: $header-height;
  left: 0;
  width: 100vw;
  height: calc(100vh - #{$header-height} - #{$footer-height});

  background: $light-gradient;

  .header {
    width: 100%;
    padding: 36px 20px;
    text-align: center;
    line-height: 2.4em;
    color: $text-color;

    .title { font-size: 1.6em; }
    .subtitle { font-size: 1.4em; }
  }

  .logo {
    position: absolute;
    z-index: 1;
    top: 34%;
    left: calc(50% - 120px);
    width: 200px;
    transform: rotate(-30deg);
  }

  .button {
    position: absolute;
    top: calc(34% + 120px);
    left: calc(50% - 50px);
    padding: 12px 16px;
    transform: rotate(15deg);
    text-transform: uppercase;
    border: 3px solid $link-color;
    border-radius: 4px;
    color: $link-color;
  }
}
