$fonts-path: '/fonts';
$images-path: '/images';

$white: #ffffff;
$dark-blue: #272a9d;
$light-grey: #f6f6f6;
$dark-grey: #333333;

$text-color: $dark-grey;
$light-text-color: $light-grey;
$link-color: $dark-blue;

$background: $white;
$dark-background: $dark-blue;
$shadow-color: $dark-blue;
$light-background: $light-grey;

$dark-gradient: linear-gradient(to right, $dark-blue, $light-grey);
$light-gradient: linear-gradient(to bottom, rgba($white, 0.8), rgba($white, 0));

$header-height: 50px;
$footer-height: 40px;

$sm: 769px;
