$fonts-path: '/fonts';
$images-path: '/images';

$main-font: 'Spectral Regular', serif;
$title-font: 'PT Root UI Medium', sans-serif;
$icon-font: 'Icons';

$white: #ffffff;
$light: #fbfcfe;
$light-accent: #ce7d98;
$accent: #6f2a41;
$blue: #017ac8;
$dark-blue: #263960;
$grey: #8b929c;
$dark-grey: #333333;

$text-color: $dark-grey;
$light-text-color: $light;
$link-color: $blue;

$background: $white;
$dark-background: $dark-blue;
$shadow-color: $dark-blue;
$light-background: $light;
$accent-background: $accent;

$dark-gradient: linear-gradient(to right, $dark-blue, $light);
$light-gradient: linear-gradient(to bottom, rgba($white, 0.8), rgba($white, 0));

$header-height: 50px;
$footer-height: 40px;

$nav-z-index: 1400;
$map-z-index: 1000;

/* BREAKPOINTS */
$xs:     480px;
$xs-min: $xs;
$xs-max: $xs-min - 1;

$sm:     768px;
$sm-min: $sm;
$sm-max: $sm-min - 1;

$md:     992px;
$md-min: $md;
$md-max: $md-min - 1;

$lg:     1200px;
$lg-min: $lg;
$lg-max: $lg-min - 1;
